body
{
	background-color: rgb(94, 235, 242);
	margin:0;
	padding:0;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: black;
margin-bottom:140px;
text-align: center;
}
li
{
color:white;
font-size:50px;
padding:14px 16px;
display:inline-block;
}
#home:hover
{
	text-decoration: underline;
}
#projects:hover
{
	text-decoration: underline;
}

#thoughts-on-God
{
	text-align: center;
	background-color: black;
	font-size:30px;
	color:white;
	border-style: solid;
	border-radius: 10px;
	border-color:black;

	width:500px;
	margin: auto;
	box-sizing:border-box;
}
#thoughts-on-God:hover
{
	cursor:pointer;
	opacity:0.8;
}

a
{
	text-decoration: none;
}

