body
{
	background-color: rgb(94, 235, 242);
	margin:0;
	padding:0;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: black;
margin-bottom:70px;
text-align: center;
}
li
{
color:white;
font-size:50px;
padding:14px 16px;
display:inline-block;
}
#blog:hover
{
	text-decoration: underline;
}
#home:hover
{
	text-decoration: underline;
}


#clown
{
	width:200px;
	height:160px;
	display:block;
	margin:auto;
	margin-bottom: -26px;
}
p
{
	text-align: center;
	font-weight:bold;
}
#sideshow-header
{
	font-size:50px;
	color:rgb(255, 247, 3);
	letter-spacing: 5px;
	text-shadow: 0px 0px 5px;
	margin-bottom:-25px;
}
#future-project
{
	font-size:25px;
	color:white;
}

@media only screen and (max-width:915px)
{
	video
	{
		width:300px;
	}
}