body
{
	background-color: rgb(94, 235, 242);
	margin:0;
	padding:0;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: black;
margin-bottom:100px;
text-align: center;
}
li
{
color:white;
font-family: Arial;
font-size:50px;
padding:14px 16px;
display:inline-block;
}
#home:hover
{
	text-decoration: underline;
}
#blog:hover
{
	text-decoration: underline;
}
#projects:hover
{
	text-decoration: underline;
}




#discord-image
{
	margin: auto;
	display: block;
	width:100%;
	max-width: 500px;
	border-style: solid;
	border-color: rgb(224, 162, 108);
	border-width: 10px;
}
#discord-text
{
	text-align: center;
	font-family: "Open Sans",Arial;
	color:white;
	font-size:30px;
	font-weight: bold;
	background-color: black;
	max-width:500px;
	margin: auto;
	margin-bottom: 10px;
}
#discord-tag
{
	text-align: center;
	font-family: "Open Sans",Arial;
	color:yellow;
	font-size:15px;
	font-weight: bold;
	background-color: black;
	max-width:210px;
	margin: auto;
	margin-bottom:30px;
}