body
{
	background-color: rgb(94, 235, 242);
	margin:0;
	padding:0;
}
ul
{
list-style-type: none;
margin:0;
padding:0;
background-color: black;
margin-bottom:100px;
text-align: center;
}
li
{
color:white;
font-family: Arial;
font-size:50px;
padding:14px 16px;
display:inline-block;
}
#info
{
	opacity: 0.4;
}
#home:hover
{
	opacity: 0.8;
	text-decoration: underline;
}
#blog:hover
{
	opacity: 0.8;
	text-decoration: underline;
}
#projects:hover
{
	opacity: 0.8;
	text-decoration: underline;
}




img
{
	display: block;
	margin: auto;
	max-width:140px;
	margin-bottom:60px;
}
img:hover
{
	opacity: 0.7;
	cursor:pointer;
}
#discord:hover
{
	opacity: 1;
}
#discord-tag
{
	position: relative;
	font-size:30px;
	font-family: sans-serif;
	margin:auto;
	top:-120px;
	left:220px;
	text-align: center;
}
@media only screen and (max-width:915px)
{
	img
	{
		max-width: 100px;
	}
	#discord-tag
	{
		font-size:20px;
		top:-90px;
		left:160px;

	}
}
@media only screen and (max-width:412px)
{
	li,ul,a
	{
		font-size: 22px;
	}
	img
	{
		max-width: 90px;
	}
	#discord-tag
	{
		font-size:15px;
		left:120px;
	}
}
@media only screen and (max-width:360px)
{
	#discord-tag
	{
		font-size:14px;
		left:110px;
	}
}